#main-page {
    display: flex;
    flex-direction: column;

    #account-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        .account-box {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
    
    
            .account-title {
                display: flex;
                align-items: center;
    
                .account-icon {
                    margin-right: 10px;
                    width: 50px;
                }
            }
            
    
            .account-username, .account-password {
                display: flex;
            }
    
            input {
                // background: #535353;
                // color: #ffffff;
                background: #2b2b2b;
                color: #8d8d8d;
                padding: 4px  10px;
                border: none;
                height: 50px;
                font-size: 16px;
                overflow: hidden; 
                // width: 100%; 
                box-sizing: border-box; 
                letter-spacing: 1px;
                width: 175px;
                outline: none;
                opacity: .9;
            }
        }
    }
}

.tooltip {
    text-transform: uppercase;
    z-index: -3;
    opacity: 0;
    color:rgb(43, 180, 30);
}

.account-password input {
    margin: 0;
}

.account-password .copy, .watch, .account-username .copy {
    margin: 0;
    padding: 7px 5px 0 5px;
    border: none;
    background: #535353;
    opacity: .9;
    transition: opacity .1s;
    &:hover {
        opacity: 1;
        transition: opacity .1s;
    }
}

.account-username {
    margin-right: 40px;
}

.account-password .watch {
    margin-right: 40px;
    padding: 0 10px;
} 

i {
    color: rgb(255, 255, 255);
}