#login-page {
    padding: 5rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .form-box {
        height: 540px;
        width: 450px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        overflow: hidden;

        .button-box {
            width: 220px;
            margin: 35px auto;
            display: flex;
            justify-content: center;
            box-shadow: 0 0 20px 5px #08fdd8;
            border-radius: 30px;
            position: relative;

            .toggle-btn {
                padding: 10px 30px;
                cursor: pointer;
                background: transparent;
                border: 0;
                outline: none;
                position: relative;
                transition: .2s ease;
            }

            .toggle-btn.register {
                color: white;
            }

            .toggle-btn.login {
                color: black;
            }

            #btn {
                top: 0;
                left: 0;
                position: absolute;
                width: 110px;
                height: 100%;
                background: linear-gradient(to right, #08fdd8, #00ffc8);
                border-radius: 30px;
                transition: .5s ease;
            }
        }

        #login-form {
            width: 86%;
            height: 370px;
            padding: 2em;
            position: relative;
            left: 0;
            transition: .5s ease;
        }

        #register-form {
            width: 86%;
            height: 370px;
            padding: 2em;
            position: relative;
            top: -434px;
            left: 450px;
            transition: .5s ease;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        label {
            cursor: default;
        }
        
        .input {
            margin-bottom: 20px;
            margin: 30px 0 0 0; 
            position: relative;
        }
        
        .input-field {
            background: #2b2b2b;
            color: #8d8d8d;
            padding: 4px 10px;
            border: 0;
            height: 50px;
            font-size: 16px;
            overflow: hidden;
            border-bottom: #2b2b2b solid 1px; 
            width: 100%; 
            box-sizing: border-box; 
            letter-spacing: 1px;
        }
        
        .input-field ~ .focus-border {
            position: absolute; 
            bottom: 0; 
            left: 0; 
            width: 0; 
            height: 2px; 
            background-color: #08fdd8; 
            transition: 0.4s;
        }
        
        .input-field:focus ~ .focus-border, .has-content.input-field ~ .focus-border {
            width: 100%; 
            transition: 0.4s;
        }
        
        .input-field ~ label {
            position: absolute; 
            left: 0; 
            top: 15px; 
            color: #aaa; 
            transition: 0.3s; 
            letter-spacing: 0.5px;
            cursor: default;
            margin-left: 10px;
        }
        
        .input-field:focus ~ label, .has-content.input-field ~ label {
            top: -16px; 
            font-size: 12px; 
            color: #08fdd8; 
            transition: 0.3s;
        }
        
        .submit-box {
            width: 387px;
            height: 125px;
            position: absolute;
            bottom: 0;
            display: flex;

            .submit-button {
                border: none;
                outline: none;
                background: linear-gradient(to right, #08fdd8, #00ffc8);
                font-size: 14px;
                letter-spacing: 4px;
                font-family: "Open Sans", sans-serif;
                text-decoration: none;
                position: relative;
                width: 100%;
                max-width: 220px;
                line-height: 50px;
                display: block;
                text-align: center;
                box-shadow: 0 0 5px #08fdd8;
                transition: all 0.2s ease;
                border-radius: 30px;
                bottom: 0;
                margin: 35px auto;
            }
            
            .submit-button:hover {
                transition: all 0.3s ease;
                cursor: pointer;
                box-shadow: 0 0 12px #08fdd8;
            }
        }
    }
}



