.modal-content-delete {
    height: 250px;
    // width: 460px;

    .modal-header {
        padding: 20px;
        color: #ca3318;
        font-weight: 900;
        font-size: 25px;
    }

    p {
        text-align: center;
        padding: 20px;
        padding-bottom: 0;
    }
}